<div class="container my-3">
    <div class="jumbotron" style="background-color: #e9ecef; padding: 10px; border-radius: 10px;">
        <h1 class="display-4">TODO LIST !!!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.
          It uses utility classes for typography and spacing to space content out within the larger container.
          It uses utility classes for typography and spacing to space content out within the larger container.
          It uses utility classes for typography and spacing to space content out within the larger container.
          It uses utility classes for typography and spacing to space content out within the larger container.
          It uses utility classes for typography and spacing to space content out within the larger container.
          It uses utility classes for typography and spacing to space content out within the larger container.
        </p>
        <a class="btn btn-primary btn-lg" routerLink = "/" role="button">Go To TODO LIST</a>
      </div>
</div>